<div class="text-center">
  <form class="form-signin">

    <h1 class="h4 mb-3 login"> Login do Clientes</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail"
           name="email" placeholder="Informe seu Email"
           class="form-control mb-2"
           [(ngModel)]="usuario.email" />



    <label for="inputSenha" class="sr-only">Senha</label>
    <input type="password" id="inputSenha"
           name="senha" placeholder="Senha"
           class="form-control mb-2 "
           [(ngModel)]="usuario.senha" />



    <button class="btn btn-primary btn-block" type="submit" (click)="entrar()">Login</button>
    <img src="../../src/assets/img/LogoPoliview.jpg" />

    <!* =  diretiva ngif ngfot>
    <div class="alert alert-primary" role="alert" *ngIf="usuarioAutenticado">
      Usuario Autenticado !
    </div>

    <div class="alert alert-warning" role="alert">
      <div *ngFor="let i of usuarios">
        {{i}}
      </div>

    </div>

  </form>

</div>
