<div class="text-center">
  <form class="form-signin">
    <h1 class="h4"> Login do Cliente</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail"
           name="email" placeholder="Informe seu Email"
           class="form-control" />

    <label for="inputSenha" class="sr-only">Senha</label>
    <input type="password" id="inputSenha"
           name="senha" placeholder="Senha"
           class="form-control" />


    <button class="btn btn-primary btn-block" type="submit" ></button>
  </form>

</div>
