<div class="text-center">
  <form class="form-signin">

    <h1 class="h4 mb-2 login"> Login do Clientes</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail"
           name="email" placeholder="Informe seu Email"
           class="form-control mb-2"
           
           [(ngModel)]="usuario.email"
           #email="ngModel"
           email
           required />

    <div class="invalid-feedback mb-2" *ngIf="email.invalid && (email.dirty || email.touched)">

      <div *ngIf="email.errors.required">
        Email é deve ser preenchido
      </div>

      <div *ngIf="email.errors.email">
        Email não está no formato correto
      </div>

    </div>



    <label for="inputSenha" class="sr-only">Senha</label>
    <input type="password" id="inputSenha"
           name="senha" placeholder="Senha"
           class="form-control mb-2 "
           [(ngModel)]="usuario.senha"
           #senha="ngModel"
           required />

    <div class="alert alert-danger" *ngIf="sennha.invalid && (senha.dirty || senha.touched)">

      <div *ngIf="senha.errors.required">
        Senha deve ser preenchido
      </div>

      

    </div>



    <button class="btn btn-primary btn-block" type="submit" (click)="entrar()">Login</button>
    <img src="../../src/assets/img/LogoPoliview.jpg" />





  </form>

</div>
